main {
    padding-top: 51px;
}

#comentarios {
    display: flex;
    justify-content: center;
}

table {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}


th {
    width: 100vh;
    background-color: #4A3030;
    padding: 10px;
}

th:nth-child(1) {
    width: 200px;
}

th:nth-child(3) {
    width: 150px;
}

td {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

tr:nth-child(even) {
    background-color: #4A3030;
}