#lista_secao li:nth-child(3) {
    padding-left: 5px;
    background-color: var(--second-color);
    text-decoration: underline;
}

.img1 {
    background-image: url(../img/Cafeteiras/Arno_Cafeteira_Espresso-removebg-preview.webp);
    background-size: 180px;
}

.img2 {
    background-image: url(../img/Cafeteiras/Cafeteira_Elétrica_Electrolux_inox-removebg-preview.webp);
    background-size: 180px;
}

.img3 {
    background-image: url(../img/Cafeteiras/Cafeteira_Elétrica_Mondial-removebg-preview.webp);
    background-size: 180px;
}

.img4 {
    background-image: url(../img/Cafeteiras/Cafeteira_Espresso_Oster-removebg-preview.webp);
    background-size: 180px;
}

.img5 {
    background-image: url(../img/Cafeteiras/Cafeteira_Philco-removebg-preview.webp);
    background-size: 180px;
}

.img6 {
    background-image: url(../img/Cafeteiras/Cafeteira_Prensa_Francesa_Cremeira_-removebg-preview.webp);
    background-size: 180px;
}