@import url('https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC&display=swap');

:root {
    --primary-color: #2E2828;
    --second-color: #4A3030;
    --tertiary-color: #330303;
    --white-color: #FEF4F4;

}

* {
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    color: var(--white-color);
}

header {
    height: 52px;
    background-color: var(--second-color);
}

#conteiner_header {
    height: 52px;
    background-color: var(--tertiary-color);
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
}

#espaco_icon {
    height: 52px;
    width: 150px;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--white-color);
    align-items: center;
}

#espaco_icon img {
    background-color: var(--white-color);
}

#espaco_icon h3{
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    background-color: var(--white-color);
    color: #2E2828;
}

#barra_pesquisa{
    display: flex;
    align-items: center;
    background-color: white;
    align-items: center;
    padding: 2px;
    border-radius: 4px;
    margin: 10px;
}

#barra_pesquisa i {
    background-color: #FEF4F4;
    padding-right: 5px;
}

.search-text {
    background: none;
    border: 0;
    outline: 0;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    width: 150px;
}

#ultima_lista {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--tertiary-color);
    border-radius: 7px;
}

#ultima_lista ul {
    display: flex;
    align-items: center;
    font-size: 14px;
    list-style-type: none;
    background-color: var(--tertiary-color);

}

#ultima_lista li {
    padding-right: 32px;
    font-family: 'Acme', sans-serif;
    background-color: var(--tertiary-color);
}

#ultima_lista ul li:nth-last-child(1){
    background-color: var(--second-color);
    padding: 6px;
    border-radius: 5px;
    margin-right: 32px;
}

#ultima_lista i {
    background-color: var(--tertiary-color);
    padding-right: 5px;
}

#carrinho.fa-solid {
    background-color: var(--second-color);
}

#menu_ham {
    display: none;
}

#imagem_background {
    height: 329px;
    background-image: url(../img/Comum/wallpaper.webp);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
}

@media (max-width: 768px){
    #espaco_icon h3 {
        display: none;
    }

    #espaco_icon {
        width: 52px;
    }

    #ultima_lista ul{
        display: none;
    }

    #imagem_background {
        height: 190px;
    }

    #menu_ham {
        display: block;
        margin-right: 15px;
    }

    .search-text {
        width: 240px;
    }
}